---
import { Image } from "astro:assets";
import "@fontsource/iceland";
import "@fontsource-variable/source-code-pro";
import BaseLayout from "../layouts/BaseLayout.astro";
import hero from "../images/expo-hero.png";
import Countdown from "../components/Countdown";
import compileLogo from "../images/compile-logo.png";
import iacLogo from "../images/iac_makati-logo.png";
import Navbar from "../components/Navbar.astro";
---

<BaseLayout
  description="The Future of Computing through Game-Changing Innovations"
  title="SOCW Expo 2024"
  icon={{ type: "image/svg+xml", href: "/images/expo-logo.svg" }}
>
  <Navbar lumaEventId="evt-yGjjGbgZi4NtTit" />
  <div class="flex flex-col items-center">
    <section
      class="container flex flex-col items-center justify-center gap-4 px-6 pt-14 lg:max-w-[60rem]"
    >
      <Image
        src={hero}
        alt="School of Computing Week 2024"
        class="pointer-events-none w-full"
      />
    </section>
    <div class="my-4">
      <p class="mb-3 text-center font-mono ~text-lg/2xl">June 28-29, 2024</p>
      <Countdown client:only="react" timestamp={new Date(2024, 5, 28, 8)} />
    </div>
    <div
      class="flex justify-center gap-8 px-6 py-9 text-center font-semibold md:gap-20"
    >
      <div>
        <p class="~mb-1/0">Presented by</p>
        <a
          href="https://iacademy.edu.ph/"
          target="_blank"
          rel="noopener noreferrer"
          class="relative after:absolute after:-left-1/2 after:h-1 after:w-0 after:rounded-xl after:bg-white after:duration-300 after:content-[''] hover:after:w-full"
        >
          <Image src={iacLogo} alt="iACADEMY" class="~w-32/48" />
        </a>
      </div>
      <div>
        <p class="~mb-1/0">Organized by</p>
        <a
          href="https://www.facebook.com/iacademycompile"
          target="_blank"
          rel="noopener noreferrer"
          class="relative after:absolute after:-left-1/2 after:h-1 after:w-0 after:rounded-xl after:bg-white after:duration-300 after:content-[''] hover:after:w-full"
        >
          <Image src={compileLogo} alt="Compile" class="~w-32/48" />
        </a>
      </div>
    </div>

    <script id="luma-checkout" src="https://embed.lu.ma/checkout-button.js"
    ></script>
  </div>
</BaseLayout>
