---
interface Props {
  title?: string;
  description: string;
}

const { title = "SOC Week '23-'24", description } = Astro.props;

import "../styles/base.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-[#020213] text-white">
    <slot />
  </body>
</html>
